<!DOCTYPE html>
<html>
    <body>
        Anftrion
        <form action="/saluda" method="POST">
            <label for="nombre">Nombre</label>
            <input name="nombre" id="nombre">
            <label for="idioma">Idioma</label>
            <select name="idioma" id="idoma"t>
                <option value="es">Español</option>
                <option value="en">English</option>
            </select>
            <input type="submit" value="Bienvenido"/>
        </form>
    </body>
</html>